<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ site.title }}</title>
  <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
  <h3>{{ site.title }}</h3>
  <div id="top">
    <nav class="nav-bar">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="http://www.github.com/claudia108" target="_blank">Github</a></li>
    </ul>
  </nav>
    <img id="austria" src="https://scontent-dfw1-1.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/11245504_958262757538718_8865675346203449658_n.jpg?oh=d4832e073f603c2554cfd7de97bef795&oe=578BC778" alt="sunset in austria">


  </div>
  <div class="container">
